<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>comUNICEF - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    {% block imports %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
            {% include 'inc/footer.html' %}
        {% endblock %}
    </footer>
</body>
</html>